<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bibliothèque Digitale</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 shadow-sm border-bottom">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">📚 Ma Bibliothèque</a>
        <div class="navbar-nav ms-auto align-items-center">
    {% if session.username %}
        <a class="btn btn-outline-primary btn-sm me-2 fw-bold" href="/taches">📝 Mes Tâches</a>
        
        {% if session.role == 'admin' %}
            <a class="btn btn-warning btn-sm me-2 fw-bold" href="/ajouter_livre">➕ Ajouter Livre</a>
            <a class="btn btn-info btn-sm me-2 fw-bold text-white" href="/utilisateurs">👥 Gérer Users</a>
        {% endif %}
        
        <span class="navbar-text me-3 text-dark">Bonjour, <strong>{{ session.username }}</strong></span>
        <a href="/deconnexion" class="btn btn-outline-danger btn-sm">Déconnexion</a>
    {% else %}
        <a href="/authentification" class="btn btn-primary btn-sm">Connexion</a>
    {% endif %}
</div>
    </div>
</nav>
    <div class="container">
        <h2 class="text-center mb-4">Catalogue</h2>
        <div class="row">
            {% for row in data %}
            <div class="col-md-4 mb-3">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ row['titre'] }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ row['auteur'] }}</h6>
                        <p class="card-text">Disponibles : 
                            <span class="badge {{ 'bg-success' if row['stock'] > 0 else 'bg-danger' }}">
                                {{ row['stock'] }}
                            </span>
                        </p>
                        {% if row['stock'] > 0 %}
                            <a href="{{ url_for('emprunter', id_livre=row['id']) }}" class="btn btn-success w-100">Emprunter</a>
                        {% else %}
                            <button class="btn btn-secondary w-100" disabled>Indisponible</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
